 #octopus{position: absolute;
 	left: 40%;
 	margin-left: -(half of the image width)px;
 	margin-top: 35px;}

 	#hat{position: absolute;
 		top: 0px;
 		left: 38%;}

 		#glasses{position: absolute;
 			left: 44%;
 			margin-top: 135px;}